body {
    background: linear-gradient(to bottom, #b0e0e6, #87ceeb);
    font-family: Arial, sans-serif;
    color: #333;
}

.title-container {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    font-family: Arial, sans-serif;
    font-size: 2.5vw;
    color: #333;
}

.logo {
    width: 50px;
    height: auto;
    margin-left: 10px;
}

.box {
    width: 60vw;
    padding: 20px;
    margin: 20px auto;
    background-color: rgba(255, 165, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Unified Buttons */
button {
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(135deg, #87ceeb, #00bfff);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0.7rem 2rem;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2882a6;
}

#ExitBtn {
    margin-left: 29vw;
}
/* Dropdown Content */
.dropdown-content {
    display: none;
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100%;
}

/* Show Dropdown When Active */
.dropdown.active .dropdown-content {
    display: block;
}

/* Search Input Field */
#locationSelect {
    width: 90%;
    font-size: 1.2rem;
    height: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255); 
    background-color: rgb(135, 195, 241);
    border: 1px solid rgb(202, 174, 174);
    border-radius: 0.4vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 0.5rem;
}

#locationSelect::placeholder {
    color: rgb(255, 255, 255); 
    font-style: italic;
}

/* Saved Locations Dropdown */
#savedLocationsDropdown {
    width: 90%;
    font-size: 1.2rem;
    height: 2.5rem;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 0.4vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 0.5rem;
}
#advice {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffefd5;
    border: 1px solid #ffc107;
    border-radius: 15px;
    padding: 15px 20px;
    max-width: 520x;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #333;
    text-align: center;
}
.moon-phase-link {
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    width: 50px; 
    height: 50px;
    border: 2px solid #ddd; 
    border-radius: 50%; 
    background-color: #f9f9f9; 
    text-decoration: none; 
    font-size: 24px;
    color: #333; 
    transition: all 0.3s ease-in-out; 
 }
 
 .moon-phase-link:hover {
    background-color: #ffefd5; 
    color: #fff; 
    border-color: #ffefd5; 
 }