body {
    background: linear-gradient(to bottom, #b0e0e6, #87ceeb);
    font-family: Arial, sans-serif;
    color: #333;
 }
 
 
 .title-container {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    font-family: Arial, sans-serif;
    font-size: 2.5vw;
    color: #333;
 }
 
 
 .logo {
    width: 50px;
    height: auto;
    margin-left: 10px;
 }
 
 
 .box {
    width: 60vw;
    padding: 20px;
    margin: 20px auto;
    background-color: #f4c977(255, 165, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    color: #333;
 }
 
 
 #currentLocationBtn, #otherBtn {
    font-size: 1.2rem;
    color: #fff;
    background: linear-gradient(135deg, #87ceeb, #00bfff);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
 }
 
 
 #currentLocationBtn:hover, #otherBtn:hover {
    background: linear-gradient(135deg, #00bfff, #1e90ff);
 }
 
 
 h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    font-family: Arial, sans-serif;
 }
 